.menuWrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menuContent {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuWrapper p {
    font-size: 0.8rem;
}

.social {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.social a {
    color: var(--color-text-1);
    border-radius: 4px;
    display: block;
    text-decoration: none;

    transition: color 0.3s, background-color 0.3s;
}

.social a:hover {
    color: var(--color-text-2);
}

.social a svg {
    font-size: 1.2rem;
    display: block;
}

@media (max-width: 768px) {
    .menuWrapper p {
        font-size: 0.7rem;
    }

    .social a svg {
        font-size: 1.3rem;
    }
}