.menuWrapper {
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    background-color: var(--color-background-1);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menuWrapper p {
    font-size: 0.8rem;
}

.social {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.social a {
    color: var(--color-text-1);
    border-radius: 4px;
    display: block;
    text-decoration: none;

    transition: color 0.3s, background-color 0.3s;
}

.social a:hover {
    color: var(--color-text-2);
}

.social a svg {
    font-size: 1.2rem;
    display: block;
}

@media (max-width: 768px) {
    .menuWrapper p {
        font-size: 0.6rem;
    }

    .social a svg {
        font-size: 1.5rem;
    }
}