.header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 5px;
    font-size: 0.7rem;
    line-height: 1.4;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-background-1);
}

.navigation a {
    /* display: block; */
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 800;
    color: var(--color-text-1);
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 0.5rem;

    transition: color 0.3s, background-color 0.3s;
}

.navigation a:hover {
    color: var(--color-background-1);
    background-color: var(--color-blue);
}

.navigation a svg {
    font-size: 1rem;
}

.active {
    color: var(--color-text-1);
    background-color: var(--color-blue);
  }
  
.notActive {
    color: var(--color-text-1);
}

@media (max-width: 768px) {
}