.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 0.7rem;
    line-height: 1.4;
    gap: 10px;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--color-text-1);
    border: 1px solid var(--color-background-2);
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 0.5rem;

    transition: color 0.3s, background-color 0.3s;
}

.navigation a:hover {
    background: transparent;
}

.navigation a svg {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .navigation a {
        font-size: 0.780rem;
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        color: var(--color-text-1);
        border: 1px solid var(--color-background-2);
        display: flex;
        align-items: center;
        justify-content: left;
    
        gap: 0.5rem;
    
        transition: color 0.3s, background-color 0.3s;
    }

    .navigation a svg {
        font-size: 1rem;
    }
}