.post {
    display: block;
    text-decoration: none;
    margin: 0 2.5rem;
    padding: 2.5rem 0;
    text-decoration-color: var(--color-text-2);

    transition: all 0.3s;
}

.post:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text-2);
    opacity: 0.8;
}

.post + .post {
    margin-top: 2rem;
    border-top: 3px dashed var(--color-background-2);
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--color-text-2);
}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content h2 {
    font-size: 1.2rem;
}

.content p {
    font-size: 0.9rem;
    margin: 1rem 0;
    color: var(--color-text-2);
}

.content span {
    font-size: 0.7rem;
    padding: 5px 15px;
    border-radius: 4px;
    color: var(--color-text-2);
    background-color: var(--color-blue);
}

.content a:hover {
    color: var(--green-300);
}

.content button {
    display: none;
}

@media (max-width: 768px) {
    .post {
        margin: 25px;
        padding: 0;
    }

    .post + .post {
        margin-top: 2rem;
        padding-top: 25px;
        border-top: 3px dashed var(--color-background-2);
    }

    .content button {
        width: 100%;
        font-size: 0.8rem;
        margin-top: 1rem;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: right;
        align-items: center;
        text-decoration: underline;
        color: var(--color-text-1);
        background-color: var(--color-background-1);
        border: none;
        gap: 10px;
    
        transition: color 0.3s, background-color 0.3s;
    }

    .content button svg {
        animation-duration: 1s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }
    
    @keyframes slidein {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    
        50% {
            -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
        }
    
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}