.profile {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.profile div {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.profile div strong {
    margin-top: 1rem;
    color: var(--color-text-1);
    line-height: 1.4;
    font-size: 2rem;
}

.profile div span {
    font-size: 1rem;
    line-height: 1.6;
}

.avatar {
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
}
