.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile div strong {
    margin-top: 1rem;
    color: var(--color-text-1);
    line-height: 1.4;
    font-size: 2rem;
}

.profile div span {
    font-size: 1rem;
    line-height: 1.6;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
