.sidebar {
    border: 1px solid var(--color-background-2);
    border-radius: 4px;
    overflow: hidden;
    padding: 25px;

    position: sticky;
    top: 2rem;
    bottom: 1rem;
    z-index: 999;
}

.info {
    margin-top: 15px;
    font-size: 0.7rem !important;
    line-height: 1.4;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 0.7rem;
    line-height: 1.4;
    gap: 10px;
}

.navigation a {
    /* display: block; */
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--color-text-1);
    border: 1px solid var(--color-background-2);
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 0.5rem;

    transition: color 0.3s, background-color 0.3s;
}

.navigation a:hover {
    background: transparent;
    text-decoration: underline;
}

.navigation a svg {
    font-size: 1rem;
}

.active {
    background-color: transparent;
    text-decoration: underline;
  }
  
.notActive {
    background-color: var(--color-background-2);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}