.sidebarWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.sidebar {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    padding: 0 25px;
}

.info {
    line-height: 1.4;
}

.infoTitle {
    font-size: 3.5rem;
    margin: 10px 0;
    min-height: 4.2rem;
}

.infoText {
    font-size: 1.4rem;
}

.infoDescription {
    font-size: 1.2rem;
}

.infoDescriptionColor {
    color: var(--color-blue);
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 400px;
    }

    .info {
        line-height: 1.4;
    }

    .infoTitle {
        font-size: 2rem;
        min-height: 2.8rem;
    }

    .infoText {
        font-size: 1.1rem;
    }

    .infoDescription {
        font-size: 0.8rem;
    }

    .infoDescriptionColor {
        color: var(--color-blue);
    }
}