.menuWrapper {
    text-align: center;
}

.menuWrapper p {
    font-size: 0.6rem;
}

.social {
    border-bottom: 1px solid var(--color-background-2);
    /* border-bottom: 1px solid var(--color-background-2); */
    margin: 10px 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.social a {
    color: var(--color-text-1);
    border-radius: 4px;
    display: block;
    text-decoration: none;

    transition: color 0.3s, background-color 0.3s;
}

.social a:hover {
    color: var(--color-text-2);
}

.social a svg {
    font-size: 1.2rem;
    display: block;
}

@media (max-width: 768px) {
    .social a svg {
        font-size: 1.5rem;
    }
}