.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2.5rem;
    padding: 2.5rem 0;
    gap: 30px;

    transition: color 0.3s, background-color 0.3s;
}

@media (max-width: 768px) {
    .cards {
        margin: 1rem;
        padding: 0;
        grid-template-columns: 1fr;
    }
}