:root {
  --color-text-1: #E0E1E3;
  --color-text-2: #c4c1c1;
  --color-blue: #a3ea2a;
  --color-background-1: #151C2B;
  --color-background-2: #212C42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

body {
  font-family: var();
  letter-spacing: .07rem;
  line-height: 1.2rem;
  background: var(--color-background-1);
  color: var(--color-text-2);
  -webkit-font-smoothing: antialiased;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

body, input, textarea, button {
  font-family: var();
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3 {
  color: var(--color-text-1);
}

.wrapper-layout {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem 3rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;

  position: relative;
}

.wrapper-layout main {
  border-radius: 4px;
  border: 1px solid var(--color-background-2);
}

.wrapper-layout main h1 {
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  line-height: 1.8rem;
  background-color: var(--color-background-2);
}

.active {
  background-color: transparent;
  text-decoration: underline!important;
  color: var(--color-text-1)!important;
}

.not-active {
  background-color: var(--color-blue);
}

@media (max-width: 768px) {
  .wrapper-layout {
    grid-template-columns: 1fr;
    margin: 2rem auto;
    padding-top: 3rem;
    position: relative;
  }

  .wrapper-layout main h1 {
    padding: 1rem 25px;
    background-color: var(--color-background-2);
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 1rem;
  white-space: pre-wrap; /* Permite quebra de linha dentro do <pre> */
  word-wrap: break-word; /* Quebra palavras longas*/
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-break: break-all; /* Quebra palavras longas */
  overflow-x: auto; /* Adiciona rolagem horizontal */
  max-width: 100%; /* Limita a largura máxima para evitar estouro */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
