:root {
  --color-text-1: #FFFFFF;
  --color-text-2: #c4c1c1;
  --color-blue: #a3ea2a;
  --color-blue-2: #518000;
  --color-background-1: #141b27;
  --color-background-2: #212C42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

body {
  font-weight: 500;
  line-height: 1.4rem;
  background: var(--color-background-1);
  color: var(--color-text-2);
  -webkit-font-smoothing: antialiased;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

body, input, textarea, button {
  font-weight: 500;
  font-size: 1rem;
}

h1, h2, h3 {
  color: var(--color-text-1);
}

.wrapper-layout {
  width: 100%;
  margin: auto;
  padding: 0;
}

@media (max-width: 768px) {
  .wrapper-layout {
    grid-template-columns: 1fr;
  }

  .wrapper-layout main h1 {
    padding: 1rem 25px;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 1rem;
  white-space: pre-wrap; /* Permite quebra de linha dentro do <pre> */
  word-wrap: break-word; /* Quebra palavras longas*/
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-break: break-all; /* Quebra palavras longas */
  overflow-x: auto; /* Adiciona rolagem horizontal */
  max-width: 100%; /* Limita a largura máxima para evitar estouro */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
