---
import { FaGithub, FaLinkedin } from "react-icons/fa6";
---

<footer class="w-full bg-bg-1 py-8 border-t border-bg-2">
  <div
    class="max-w-[1200px] mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <h1 class="text-blue-accent text-1xl font-bold">
      {"{"}F<span class="text-white">V{"}"}</span>
    </h1>
    <div class="flex gap-6">
      <a
        href="https://github.com/f3l1p3v4"
        target="_blank"
        rel="noreferrer"
        class="text-text-2 hover:text-blue-accent transition-colors no-underline text-[1.5rem]"
        aria-label="GitHub"
      >
        <FaGithub />
      </a>
      <a
        href="https://linkedin.com/in/lipe-dev"
        target="_blank"
        rel="noreferrer"
        class="text-text-2 hover:text-blue-accent transition-colors no-underline text-[1.5rem]"
        aria-label="LinkedIn"
      >
        <FaLinkedin />
      </a>
    </div>
    <p class="text-sm text-text-2 m-0">
      © 2019 | Todos os direitos reservados. 6.0 🚀
    </p>
  </div>
</footer>
